.button-main {
    border: 4px solid #1f1f1f;
    background: #f2c00f;
    box-shadow: 4px 4px 0px 0px #1f1f1f;
    width: 311px;
    height: 50px;
    cursor: pointer;
}

.button-main:hover {
    background: #e1b000;
}

.button-main:active {
    background-color: #f2c00f;
    box-shadow: 2px 2px 0px 0px #1f1f1f;
    transform: translateY(2px);
}
